body {
  margin: 0px;
  background-color: #212020;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #252627;
}
.content {
  width: 750px;
}
.logo img {
  float: left;
  width: 30px;
  height: 30px;
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  margin: 10px 0px;
}
.logo .logo-text {
  display: inline-block;
  line-height: 65px;
  font-family: futura-pt,sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1.5px;
  color: white;
  font-size: 15px;
  margin-left: 8px;
}
.blinking-cursor {
  display: inline-block;
  color: #FE5186;
  font-size: 20px;
  margin: 0px;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: cursor;
}
@keyframes cursor {
  0% {opacity: 1;}
  10% {opacity: 0.8;}
  20% {opacity: 0.6;}
  30% {opacity: 0.4;}
  40% {opacity: 0.2;}
  50% {opacity: 0;}
  60% {opacity: 0;}
  70% {opacity: 0.2;} 
  80% {opacity: 0.4;}
  90% {opacity: 0.6;}
  100% {opacity: 0.8;}
}
nav {
  float: right;
  font-family: futura-pt,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  color: white;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 20px;
  line-height: 65px;
}
nav a {
  color: white;
  text-decoration: none;
}
nav a:hover {
  color: #EC3750;
}
article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #212020;
}
.avatar img {
  float: left;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 50px 35px 50px 130px;
}
.intro-white {
  font-family: futura-pt,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
  color: white;
  letter-spacing: 1px;
  margin: 110px 0px 0px 0px;
  line-height: 2px;
}
.intro-red {
  font-family: futura-pt,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  color: #EC3750;
  margin: 0px;
  line-height: 2px;

}
.links svg, img{
  width: 24px;
  height: 24px;
  margin: 5px 10px 0px 0px;
}
.links a {
  color: white;
  text-decoration: none;
}
.links a:hover {
  color: #babac4;
}
.site-nav a {
  color: #969696;
  font-size: 13px;
  font-family: proxima-nova,sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
.site-nav a:hover {
  color: white;
}
.site-nav li {
  margin-right: 50px;
}
.heading {
  width: 750px;
}
.writing {
  width: 750px;
}
.heading p {
  font-family: proxima-nova,sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: white;  
}
.writing p {
  font-family: proxima-nova,sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: white;
}
.writing a {
  color: #EC3750;
  text-decoration: underline;
}
.book-gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px 0px;
  width: 750px;
}
.book-gallery img {
  height: 150px;
  width: 100px;
  transform: scale(1.0);
  transition: transform 0.4s ease;
}

.book-gallery .img-box {
  box-sizing: content-box;
  margin: 8px;
  padding: 5px 0px 5px 8px;
  height: 160px;
  width: 350px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: #212020;
  box-shadow: 5px 5px 15px #000000;
}

.book-gallery .caption {
  font-family: proxima-nova,sans-serif;
  font-weight: 700; 
  line-height: 18px;
  word-wrap: break-word;
  position: absolute;
  left: 120px;
  bottom: 2px;
  transition: transform 0.4s ease;
}

.book-gallery .transparent-box {
  height: 170px;
  width: 360px;
  background-color:rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.book-gallery .img-box:hover img { 
  transform: scale(1.1);
}

.book-gallery .img-box:hover .transparent-box {
  background-color:rgba(0, 0, 0, 0.5);
}

.book-gallery .img-box:hover .caption {
  transform: translateY(-10px);
  opacity: 1.0;
}

.book-gallery .img-box:hover {
  cursor: pointer;
}

.book-gallery .caption > p:nth-child(2) {
  font-size: 0.8em;
}

.book-gallery .opacity-low {
  opacity: 0.5;
  line-height: 5px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .content {
    width: 100%;
    margin: 0px 10px;
  }
  header {
    height: 60px;
  }
  .logo img {
    width: 25px;
    height: 25px;
  }
  .logo .logo-text {
    line-height: 60px;
  }
  .blinking-cursor {
    font-size: 17px;
  }
  .avatar {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .avatar img {
    margin: 30px 0px 10px 0px;
  }
  .intro-white {
    margin: 0px;
    text-align: center;
  }
  .intro-red {
    text-align: center;
    margin: 0px;
  }
  .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .site-nav li {
    margin: 30px 25px 0px 25px;
  }
  .site-nav a {
    font-size: 13px;
  }
  .heading p {
    margin: 30px 0px 0px 0px; 
  }
  .writing p {
    line-height: 28px;
  }
  .heading {
    padding: 10px;
  }
  .writing {
    padding: 0px 20px;
  }
  .book-gallery .img-box {
  width: 350px;
  } 
  .book-gallery .transparent-box {
  width: 360px;
  }
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #a7a7a7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7e7d7d; 
}

.active {
  color: #fff;
}

.container {
  text-align: center;
}

iframe {
  text-align: center;
  width: 70vw;
  height: 50vh;
}

